body {
	margin: 0 auto;
}
.new-game {
	margin-top: 50px;
}
.choose {
	font-size: 18px;
	font-weight: bold;
	border: solid white 10px;
	border-radius: 20px;
	padding: 10px 20px;
	background: #7cbdff;
	margin: 50px auto;
}
.fa {
	font-size: 20px;
}
.result {
	margin: 30px auto;
	font-size: 20px;
	font-weight: bold;
}
